{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">EAT_Spots!!</h1>
    </div>
</header>
<div class="bg-white">
      <div class="mt-6 grid grid-cols-1 gap-y-200 gap-x-90 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
         {% for restaurant in object_list %}
         <div class="group relative">
          <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
                <a href="{{ restaurant.image }}">
                    {% thumbnail restaurant.image 500x500 crop="smart" as image_thumbnail %}
                    <img src="{{ image_thumbnail.url }}" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                </a>
          </div>
          <div class="mt-4 flex justify-between">
                <div>
                <h3 class="text-sm text-gray-700">
                    <a href="#"><h2 class="text-3xl font-bold tracking-tight text-gray-700">{{ restaurant.name }}</h2>
                    </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">{{ restaurant.location }}</p>
               </div>
          </div>
         </div>
       {% endfor %}

   </div>
</div>
</div>
</main>
{% endblock %}
<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->